@font-face {
    font-family: odin;
    src: url(Norse-Bold.otf)
}

a {
    color: #E5E7EB
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* grid-template-rows: 3; */
    height: 100vh;
}

.splashBanner {
    /* grid-row: 1 / 4; */
    background-image: url("./leaf.jpg");
}

.odinDiv {
    background-color:rgba(0, 0, 0, 0.5);
    /* opacity: 0.5; */
    color: white;
    margin-top: 37%;
    font-family: odin;
    font-size: 8em;
    display: flex;
    align-items: center;
}

.odinImg {
    height: 200px;
    margin-left: 28%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.content {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #FAFAFA;
    font-family: sans-serif;
}

.blurb {
    grid-row: 1 / 2;
    font-size: 1.6em;
    margin-top: auto;
    margin-bottom: 75px;
    margin-left: 50px;
}

.signup {
    /* grid-row: 2 / 3;
    background-color: white;
    margin-bottom: 30px;
    padding: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer {
    grid-row: 3 / 4;
    padding-left: 20px;
}

button {
    background-color: #596D48;
    color: white;
}

 input {
    width: 60%;
}

/* label {
    flex-basis: 50%;
} */

.formWrap {
    flex-basis: 45%;
}

.actualFormWrap {
    grid-row: 2 / 3;
    background-color: white;
    margin-bottom: 30px;
    padding: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

input, label {
    display: block;
}